<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/js" th:href="@{/js/particlesJS.js}">

</head>

<div class="animated bounceInDown">
    <div class="container">
        <span class="error animated tada" id="msg"></span>
        <form name="form1" class="box" method="post" action="/findPassword">
            <h4>비밀번호<span>찾기</span></h4>
            <h5>이름과 아이디를 입력해주세요.</h5>
            <input type="text" name="name" id="name" placeholder="이름 입력하세요" autocomplete="off">
            <i class="typcn typcn-eye" id="eye"></i>
            <input type="text" name="username" id="username" placeholder="아이디 입력하세요" autocomplete="off">

            <input type="submit" value="비밀번호 찾기" class="btn1">
        </form>
        <a href="login" class="dnthave">뒤로가기</a>
    </div>
</div>

</html>